.Rproj.user
*.Rproj
.Rhistory
*.RData
*.Rdata
*.Rds
.Ruserdata
R_credentials.R
*.log
*.html
library.bib
*.pdf
*.doc
*.docx
*.aux
*.out
*.dta
*.jpg
*.tif
*.png
*.xlsx
*.xls
*.csv
!scenario_key.csv
!herring_mean_ABCs.csv
FW9_Rebuild_AM/FW9_rebuild_text.tex
*.sas7bdat
Thumbs.db
herring_mse_economics.zip

